@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Пользователи</h1>
</div>

<div class="row">

    @foreach (var user in ViewBag.Users as IEnumerable<DomainModels.Models.User>)
    {
        <div class="col-md-4">
            <h2>
                @Html.ActionLink(user.FIO, "View", new { user.Id })
            </h2>
            <p>@user.Login</p>
            <p>@user.Id</p>
        </div>

    }

</div>