@model IEnumerable<DomainModels.Models.OperationResult>

@{
    ViewBag.Title = "Index";
    var message = ViewBag.Message as string;
}

@if (!string.IsNullOrWhiteSpace(message))
{
    <p class="bg-warning">@(message)</p>
}

@if (Model == null)
{
    return;
}

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#all" aria-controls="All" role="tab" data-toggle="tab">Все</a></li>
        <li role="presentation"><a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">Избранные</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all">
            @Html.Partial("List", Model)
        </div>
        <div role="tabpanel" class="tab-pane" id="likes">
            @Html.Partial("List", Model.Where(it => it.IsLiked))
        </div>
    </div>

</div>

<script type="text/javascript">
    function like(elem, id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Like")",
            data: {"id": id},
            success: function (msg) {
                if(msg.Success){
                    $(elem).html(msg.Name);

                    if(msg.Name == "like"){
                        $(elem).removeClass("btn-danger").addClass("btn-success")
                    } else {
                        $(elem).removeClass("btn-success").addClass("btn-danger")
                    }

                } else {
                    alert(msg.Error);
                }
            }
        });
    }
</script>

