@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    @foreach (var user in ViewBag.Users)
    {
        <div class="col-md-4">
            <h2>@user.FIO</h2>
            <p>@user.Login</p>
            <p>@user.Id</p>
        </div>

    }

</div>